# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Node modules
app_web/backend/node_modules/
app_web/frontend/node_modules/

# Build output
app_web/frontend/dist/
app_web/frontend/dist-ssr/
*.local

# Editor directories and files
.vscode/
!.vscode/extensions.json
.idea/
.DS_Store
Thumbs.db
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
*.sw?

# virtual env
.venv

# Env files
.env

# Otros
.Requerimients.md

